# =====================================================#
# PFA Pneumonia Detection - Clean Requirements
# Python 3.11 / Windows
# =====================================================#

# Dataset (optional)
kagglehub

# Deep Learning
tensorflow==2.17.0
torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1

# Computer Vision
opencv-python==4.10.0.84
Pillow==10.4.0
albumentations==2.0.8

# Data & Visualization
numpy==1.26.4
pandas==2.2.2
matplotlib==3.9.2
seaborn==0.13.2
scikit-learn==1.5.1

# Web
streamlit==1.38.0

# Utils
tqdm==4.66.5
joblib==1.4.2

# Optional
gitpython==3.1.43